.content{
    height: 100px;
    background-color: skyblue;
    border-bottom: 1px solid black;
    width: 85vw;
}

.div1{
    background-color: rebeccapurple;
    height: 50%;
    display: flex;
    padding-left: 20px;
}

.div2{
    background-color: yellow;
    height: 50%;

}

.recruitmentStatusOn{
    width: 80px;
    height: 35px;
    background-color: #000928;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crewNameDiv{
    margin-left: 20px;
    margin-top: 12px;
    font-weight: bold;
}