.content{
    height: 120px;
    background-color: skyblue;
    border-bottom: 1px solid black;
    width: 1200px;
}

.div1{
    background-color: rebeccapurple;
    height: 50%;
}

.div2{
    background-color: yellow;
    height: 50%;

}

.recruitmentStatus{
    width: 50px;
    background-color: #000928;
    border-radius: 20px;
    color: #fff;
}