.divMain{
    height: 95vh;
}

section .crew-search {
    border: 2px solid #000928;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}


.crew-categories {
    list-style: none;
    padding: 0;
    display: flex;
}

.crew-categories li {
    padding: 15px 30px;
    margin-right: 10px;
    border-radius: 20px;
    cursor: pointer;
}

/* 선택된 카테고리 스타일링 */
.crew-categories li.selected {
    background-color: #000928;
    color: #fff;
}

/* 크루 찾기 섹션 스타일링 */
section .crew-search {
    border: 2px solid #000928;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
}

.crew-categories {
    list-style: none;
    padding: 0;
    display: flex;
}

.crew-categories li {
    cursor: pointer;
    padding: 10px 20px;
}

.selected {
    background-color: #007bff;
    color: #fff;
}

/* 크루 검색 스타일링 */
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.search-bar button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
}

/* 크루 찾기 섹션 스타일링 */
section .crew-search {
    border: 2px solid #000928;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 크루 검색창 스타일링 */
.recruitmentMain{
    height: 60px;
    display: flex;
    border-bottom: 1px solid #000928;
}

.recruitmentStatusDiv{
    width: 80%;
    height: 100%;
}

.recruitmentStatus li{
    width: 80px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 80px;
    list-style-type: none;
    float: left;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected{
    background-color: #000928;
    color: #fff;
}

.createCrewDiv{
    width: 20%;
    height: 100%;
}

/* 크루 만들기 버튼 스타일링 */
.createCrewButton {
    background-color: #000928;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.createCrewButton:hover {
    background-color: #007bff;
}

.crewListMain {
    height: 100%;
    margin: 10px;
}

.btnMain {
    list-style-type: none;
}

.btnDiv{
    display: flex;
    margin-left: 45%;
}
