.mainDiv{
    height: 85vh;
}

.titleDiv{
    border-bottom: 3px solid #000928;
    height: 7%;
    display: flex;
}

.postTitle{

    width: 35%;
    height: 100%;
    font-size: 24px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.postContent{

    width: 65%;
    height: 100%;
    font-size: 18px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.tdDiv{
    display: flex;
    height: 230px;
    width: 86vw;
    border-bottom: 1px solid #000928;
    position: relative;
    max-height: 300px;
    overflow-y: auto;
}

.contentDiv{

    width: 40%;
}

.nicknameDiv{
    background-color: skyblue;
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.imageDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.commentDiv{

    height: 80%;
}

.commentsWrapper {
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #000928;
    padding: 5px;
}

.image {
    background-color: lightgrey;
    width: 90px;
    height: 30px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentsWrapper {
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #000928;
    padding: 5px;
}