ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.crewPage {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.crewPage:hover {
    color: darkblue;
}

.crewLine {
    height: 4px;
    background-color: #000928;
}