ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.mainLink {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.mainLink:hover {
    color: blue;
}

