.certification {
    color: darkblue;
    text-decoration: underline;
}

.bar {
    display: flex;
    align-items: center;
}

.date {
    padding: 10px 20px;
}

.writeButton {
    background-color: #000928;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    float: right;
    margin-left: 100px;
    text-decoration: none;
}

.writeButton:hover {
    background-color: #007bff;
}

.btnMain {
    list-style-type: none;
}

.btnDiv{
    display: flex;
    padding: 10px;
}

.thead th {
    padding-left: 10px;
    text-align: left;
}

.thead th:nth-child(1) {
    width: 300px;
}

.thead th:nth-child(2) {
    width: 500px;
}

.thead th:nth-child(3) {
    width: 200px;
}
