.certification {
    color: darkblue;
    text-decoration: underline;
}

.bar {
    display: flex;
    align-items: center;
    margin-left: 15%;
    width: 80%;
}

.date {
    padding: 10px 20px;
}

.writeButton {
    background-color: #000928;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    float: right;
    margin-left: 100px;
    text-decoration: none;
}

.writeButton:hover {
    background-color: #007bff;
}

.btnMain {
    list-style-type: none;
}

.btnDiv{
    display: flex;
    padding: 10px;
}

.thead th {
    padding-left: 10px;
    text-align: left;
    border-bottom: 1px solid #000928;
}

.thead th:nth-child(1) {
    width: 300px;
}

.thead th:nth-child(2) {
    width: 500px;
}

.thead th:nth-child(3) {
    width: 200px;
}

.detailTitle {
    font-size: 20px;
}

.commentTitle td:nth-child(1) {
    width: 300px;
}

.commentTitle td:nth-child(2) {
    width: 500px;
}

.commentTitle td:nth-child(3) {
    width: 200px;
}

.tableDiv{
    margin-left: 15%;
    width: 75%;
    height: 80vh;
}

.certificationTable td{
    padding: 10px;
    height: 30px;
    overflow-y: auto;
}

.certificationTable td:hover{
    cursor: pointer;
    text-decoration: underline;
}

.deleteBtn{
    width: 40px;
    height: 20px;
    background-color: #000928;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}