
.ListBox {
    margin-left: 20px;
}

.tableHead {
    border: 1px solid #000;
    padding: 8px;
    font-weight: bold;
}

.tableBody td{
    border: 1px solid #000;
    padding: 8px;
}

.btn {
    margin-left: 10px;
}

.btnMain {
    list-style-type: none;
    margin-left: 20px;
}

.btnDiv{
    display: flex;
    margin-top: 20px;
}

.logoutBtn {
    width: 100px;
    margin-left: 100px;
}

/* 크루 관리 */

.crewList td:nth-child(1) {
    width: 300px;
}

.crewList td:nth-child(2) {
    width: 100px;
}

.crewList td:nth-child(3) {
    width: 300px;
}

.crewList td:nth-child(4) {
    width: 60px;
}

/* 크루원 관리 */

